{% extends 'news/base.html' %}

{% load static %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}
    <section id="contentSection">
    <h1>Parolni tiklash sahifasi</h1>


    {% if validlink %}
        <p>Parolni tiklash uchun quyidagilarni to'ldiring</p>
        <p>Iltimos yangi parolni kiriting</p>
        <form action="#" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Parolni tiklash</button>
        </form>


    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, </p>

    {% endif %}
    </section>

{% endblock content %}